@use "../../base/functions";
@use "../../base/media";

.header {
  padding-top: #{functions.rem(60px)};

  @include media.breakpoint-down("desktop") {
    padding-top: #{functions.rem(40px)};
  }

  @include media.breakpoint-down("mobile") {
    padding-top: #{functions.rem(20px)};
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;

    column-gap: var(--spacing-40);

    row-gap: var(--spacing-20);
  }

  &__nav {
    order: 1;
    flex-basis: 100%;
  }
}
