*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../../fonts/SpaceGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-family-base: "Space Grotesk", sans-serif;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-palette-black-950: #191a23;
  --color-palette-lime-100: #b9ff66;
  --color-palette-gray-50: #f3f3f3;
  --color-palette-gray-400: #898989;
  --spacing-20: 1.25rem;
  --spacing-30: 1.875rem;
  --spacing-35: 2.187rem;
  --spacing-40: 2.5rem;
  --spacing-70: 4.375rem;
  --border: 1px solid var(--color-palette-black-950);
  --border-radius-7: 0.4375rem;
  --border-radius-14: 0.875rem;
  --border-radius-45: 2.8125rem;
  --shadow: 0 5px 0 0 var(--color-palette-black-950);
  --transition-duration: 0.2s;
  --section-padding-y: var(--spacing-70);
  --container-width: 90rem;
  --container-padding-x: var(--spacing-20);
}

@media (max-width: 768px) {
  :root {
    --section-padding-y: var(--spacing-30);
  }
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

@media (max-width: 768px) {
  .hidden-tablet {
    display: none !important;
  }
}

.visible-tablet {
  display: none !important;
}
@media (max-width: 768px) {
  .visible-tablet {
    display: block !important;
  }
}

body {
  font-family: var(--font-family-base);
  font-size: clamp(1rem, 0.9285714286rem + 0.3571428571vw, 1.25rem);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-black);
  background-color: var(--color-white);
}

a,
button,
input,
textarea,
svg {
  -webkit-transition-property: color, background-color, opacity, -webkit-transform;
  transition-property: color, background-color, opacity, -webkit-transform;
  transition-property: color, background-color, transform, opacity;
  transition-property: color, background-color, transform, opacity, -webkit-transform;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

a {
  font-family: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: inherit;
  line-height: normal;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  vertical-align: middle;
  font-size: clamp(1rem, 0.9642857143rem + 0.1785714286vw, 1.125rem);
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: clamp(2.6875rem, 2.3839285714rem + 1.5178571429vw, 3.75rem);
}

h2 {
  font-size: clamp(2.25rem, 2.1785714286rem + 0.3571428571vw, 2.5rem);
}

h3 {
  font-size: clamp(1.625rem, 1.5535714286rem + 0.3571428571vw, 1.875rem);
}

h4 {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  color: inherit;
  font: inherit;
  line-height: inherit;
  text-align: inherit;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
  padding-block: 1em;
  padding-inline: 1.75em;
  color: var(--color-white);
  background-color: var(--color-palette-black-950);
  border: var(--border);
  border-radius: var(--border-radius-14);
  white-space: nowrap;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
@media (hover: hover) and (pointer: fine) {
  .button:hover {
    color: var(--color-dark);
    background-color: var(--color-palette-lime-100);
  }
}
@media (hover: none), (hover: coarse), (pointer: coarse) {
  .button:active, .button:focus-visible {
    color: var(--color-dark);
    background-color: var(--color-palette-lime-100);
  }
}
.button_theme_transparent {
  color: var(--color-dark);
  background-color: transparent;
}
@media (hover: hover) and (pointer: fine) {
  .button_theme_transparent:hover {
    background-color: var(--color-palette-lime-100);
  }
}
@media (hover: none), (hover: coarse), (pointer: coarse) {
  .button_theme_transparent:active, .button_theme_transparent:focus-visible {
    background-color: var(--color-palette-lime-100);
  }
}

.header {
  padding-block: 4.375rem;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: var(--spacing-40);
     -moz-column-gap: var(--spacing-40);
          column-gap: var(--spacing-40);
}
.header__nav {
  margin-left: auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__link {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
}
@media (hover: hover) and (pointer: fine) {
  .menu__link:hover::after {
    width: 100%;
  }
}
@media (hover: none), (hover: coarse), (pointer: coarse) {
  .menu__link:active::after, .menu__link:focus-visible::after {
    width: 100%;
  }
}
.menu__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  height: 2px;
  width: 0;
  background-color: currentColor;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
}
.menu_orientation_horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.menu_gap-40 {
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
/*# sourceMappingURL=index.css.map */